.containerProjeto{
    background-color: #f2f2f2;
    padding: 40px 0;
}

.grid{
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (min-width:568px){
    .grid{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
        padding:0 1.4rem;
    }
}

